.message-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  pointer-events: none;
}

.message-wrapper {
  padding: 8px;
  pointer-events: none;
  text-align: center;

  & .message-content {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px 8px #f3f4f3;
    border-radius: 4px;
    text-align: start;

    & p {
      font-size: 16px;
      margin: 0.6em;
    }

    animation: message-animation 0.2s;
  }
}

@keyframes message-animation {
  0% {
    opacity: 0;
    transform: translate(0, -30px)
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}