.message-container-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.message-container {
  padding: 10px 0;
  text-align: center;
  pointer-events: none;
}

.message-wrapper {
  display: inline-block;
  padding: 4px 6px;

  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  pointer-events: all;

  &:hover {
    background-color: rebeccapurple;
  }

}

.message-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.message-content {
  font-size: 14px;
}