<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjc.demo.mappers.StudentMapper">
    <resultMap id="studentMap" type="com.hjc.demo.pojo.Student">
        <id property="id" column="student_id"></id>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="age" column="age"></result>
        <result property="score" column="score"></result>
        <result property="sClass" column="sClass"></result>
        <association property="accountInfo" javaType="com.hjc.demo.pojo.Account">
            <id property="id" column="account_id"></id>
            <result property="account" column="account"></result>
        </association>
    </resultMap>
    <select id="findAll" resultMap="studentMap">
        SELECT S.id as student_id, S.name, S.age, S.gender, S.sClass, S.score, A.id as account_id, A.account
        FROM student S
            LEFT JOIN account A
            ON S.account_id = A.id
    </select>
</mapper>