.delete {
  height: 0 !important;
  opacity: 0;
  transition: all 0.8s;
  /* transition: max-height 1s; */
}

.box-wrapper {
  width: 100%;
  height: 300px;
  transform-origin: left top;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  background-color: rebeccapurple;
  transform: scale(0) translate(-50%, -50%);
  animation: Animt 0.3s 1s forwards;

}

@keyframes Animt {
  0% {
    transform: scale(0) translate(-50%, -50%)
  }

  100% {
    transform: scale(1) translate(-50%, -50%)
  }
}