.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  min-height: 600px;

  width: 400px;
  padding: 4px 8px;
  background-color: rgb(127, 144, 255);
  border: 1px solid #b1b0b0;
  border-radius: 4px;

  &>li {
    width: 200px;
    list-style: none;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 4px 8px;
    color: #fff;

  }
}