.btn {
  padding: 4px 16px;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 0 rgba(5, 145, 255, .1);
  transition: background-color .3s;
  cursor: pointer;
  user-select: none;

  &:hover {
    /* mock dymation generation colors */
    background-color: color-mix(in srgb, var(--primary-color), #fff 25%);
  }

  &:active {
    /* mock dymation generation colors */
    background-color: color-mix(in srgb, var(--primary-color), #000 25%);
  }

  &>span {
    font-size: 14px;
    color: #fff;
  }
}

.btn-danger {
  background-color: var(--error-color);

  &:hover {
    /* mock dymation generation colors */
    background-color: color-mix(in srgb, var(--error-color), #fff 25%);
  }

  &:active {
    /* mock dymation generation colors */
    background-color: color-mix(in srgb, var(--error-color), #000 25%);
  }
}